@keyframes shake {
    0% { transform: scale(1.05) rotateZ(0deg);  }
    10% { transform: scale(0.95) rotateZ(-10deg); }
    20% { transform: scale(1) rotateZ(10deg); }
    30% { transform: scale(1.05) rotateZ(0deg); }
    40% { transform: scale(0.95) rotateZ(10deg); }
    50% { transform: scale(1) rotateZ(-10deg); }
    60% { transform: scale(1.05)rotateZ(0deg); }
    70% { transform: scale(0.95) rotateZ(-10deg); }
    80% { transform: scale(1) rotateZ(10deg); }
    90% { transform: scale(1.05) rotateZ(0deg); }
    100% { transform: scale(0.95) rotateZ(-10deg); }
}

body{
    margin: 0;
    background-color: antiquewhite;
}
.fullscreen-wrapper{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-video{
    object-fit: cover;
    transition-duration: 300ms;
}
.half{
    width: 50%;
    height: auto;
}
.full{
    width: 100%;
    height: auto;
}
#changesize{
    position: absolute;
    top:0;
    left:0;
}
.shake{
    animation: shake 450ms linear;
}
#shakebtn{
    position: absolute;
    top:0;
    right: 0;
}
button{
    margin: 1em;
    background-color: white;
    border: 1px solid black;
    border-radius: 12px;
    padding: 0.5em;
    cursor: pointer;
    box-shadow: 2px 2px #888888;
}
